body{
    font-size: 14px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-family: "Be Vietnam";
    text-transform: capitalize;
    background-image: url("../imgs/vletlot.jpg");
    max-width: 100%;
}